body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    color: rgb(224, 224, 224);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.top-info > h1{
    font-size: 2.2rem;
    margin-bottom: 30px;

}

.top-info > h3{
    margin-bottom: 50px;
}

div > img{
    width: 3rem;
}

a{
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.socials-container{
    display: flex;
    justify-content: space-around;
}

.socials-container > div{
    display: flex;
    align-items: center;
}
.socials-container > div > a{
    font-size: 1.2rem;
    margin-left: 1.1rem;
}

.socials-container > div > a:hover{
    transition: 150ms ease-out;
    color: rgb(0, 0, 0);
}

